APP_NAME="Init SaaS Platform"
APP_ENV=local
APP_DEBUG=false
APP_URL=http://localhost/init-saas-platform/public

DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=init_saas_platform
DB_USERNAME=
DB_PASSWORD=
DB_SSLMODE=prefer

RATE_LIMIT_SECRET=