# Ambiente
.env

# Composer
/vendor/

# Logs
/storage/logs/*
!/storage/logs/.gitkeep

# Cache
/storage/cache/*
!/storage/cache/.gitkeep

# IDE
.idea/
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db